spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url : ${rds.url}
    username : ${rds.username}
    password : ${rds.password}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
    show-sql: true

logging:
  level:
    org:
      springframework:
        security: DEBUG